#container {
    text-align: center;
}

#numbers-container{
    padding-bottom: 1%;
}

#numbers-container input{
    padding: 10px 0;
}

#botones button{
    font-size: 25px;
    padding: 10px 15px;
    margin: 10px;
}

